<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <div class="cuadrado">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>
<div>
    <ul class="sorted">
        <li>
            <button class="btn btn-primary">Hospital Holder</button>
        </li>
        <li>
            <button class="btn btn-primary">Hospital Holder</button>
        </li>
        <li>
            <button class="btn btn-primary">Hospital Holder</button>
        </li>
    </ul>
</div>